body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin:0;
    padding: 0;
}


.calcular{
max-width: 400px;
background-color: azure;
margin:50px auto ;
padding:40px ;
border-radius: 8px;
box-shadow: 0 0 10 rgb(0,0,0 rgba(255, 0, 0, 0.014));

}

h1{
    text-align: center;
    background-color: azure;
}

form{
 display: flex; 
 flex-direction: column; 

}
label{
    margin:10px
}
button{
text-align: center;
padding: 10px;
margin:20px;
border-radius: 8px;
color: aquamarine;
}


